NET "POSTBIT_IN<0>" LOC = "P39" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<1>" LOC = "P40" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER; 
NET "POSTBIT_IN<2>" LOC = "P41" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<3>" LOC = "P42" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<4>" LOC = "P43" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<5>" LOC = "P44" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<6>" LOC = "P1" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_IN<7>" LOC = "P2" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER;
NET "POSTBIT_OUT<0>" LOC = "P38" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<1>" LOC = "P37" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<2>" LOC = "P36" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<3>" LOC = "P34" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<4>" LOC = "P33" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<5>" LOC = "P32" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<6>" LOC = "P31" | IOSTANDARD = LVCMOS33;
NET "POSTBIT_OUT<7>" LOC = "P30" | IOSTANDARD = LVCMOS33;
NET "DBG" LOC = "P27" | IOSTANDARD = LVCMOS33;
